@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --speed: 0.40s;
}


.card {
    transform-style: preserve-3d;
    transition: var(--speed);
    transform: perspective(2500px) rotateX(var(--rotate-y, 0));
    position: relative;
}

.card.flip-front {
    --rotate-y: 180deg;
}

.card.reset-flip {
    --rotate-y: -360deg;
}

.card.flip-back {
    --rotate-y: -180deg;
}

.card .front,
.card .back {
    position: absolute;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateX(180deg);
}

@keyframes move-top {
    0% {transform: translateY(0) rotate(0);}
    50% {transform: translateY(-50px) rotate(-10deg);}
    100% {transform: translateY(0) rotate(0);}
}

@keyframes move-bottom {
    0% {transform: translateY(0) rotate(0);}
    50% {transform: translateY(50px) rotate(-10deg);}
    100% {transform: translateY(0) rotate(0);}
}

.top-card {
     animation-name: move-top;
     animation-duration: var(--speed);
}

.bottom-card {
    animation-name: move-bottom;
    animation-duration: var(--speed);
}

/*.fish-hover {*/
/*    transform: rotate3d(0, 0, 0, 0);*/
/*    transition: transform 0.7s;*/
/*}*/

/*.fish-hover:active {*/
/*    transform: rotate3d(5, 5, 5, 360deg);*/
/*    transform-style: preserve-3d;*/
/*}*/

